body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: sans-serif;
  margin: auto;
  font-size: 16px;
  width: 600pt;
}

.container {
  background-color: #1E1E1E;
  border: 1px solid #4F4F4F;
  padding: 20px;
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
}

.btn-primary {
  background-color: #7D26CD;
  border-color: #7D26CD;
  color: #FFFFFF;
  margin: 25pt;
}

.btn-primary:hover {
  background-color: #5E1DA4;
  border-color: #5E1DA4;
}

.alert {
  background-color: #292929;
  color: #FFFFFF;
  border-color: #6B6B6B;
}

.form-group label,
.form-check-label {
  color: #FFFFFF;
  font-size: 14px;
}

.form-control {
  background-color: #2D2D2D;
  color: #FFFFFF;
  border: 1px solid #4F4F4F;
}

.form-control:focus {
  background-color: #3D3D3D;
  color: #FFFFFF;
  border-color: #7D26CD;
}

.form-check-input:checked + .form-check-label {
  color: #FFFFFF;
}

.form-check-input:checked + .form-check-label::before {
  border-color: #7D26CD;
  background-color: #7D26CD;
}

.form-check-input:focus + .form-check-label::before {
  border-color: #7D26CD;
}

.form-check-input:focus:not(:checked) + .form-check-label::before {
  border-color: #6B6B6B;
}

.form-check-input:not(:disabled):active + .form-check-label::before {
  background-color: #BB86FC;
  border-color: #BB86FC;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
